---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].about | default: "About" }}</h3>
<p>
  Hi! I am Dongting Hu, a final-year Ph.D. candidate in the 
  <a href="https://ms.unimelb.edu.au/" target="_blank" style="text-decoration: none; color: rgb(50, 140, 210);">School of Mathematics and Statistics</a> at the 
  <a href="https://www.unimelb.edu.au/" target="_blank" style="text-decoration: none; color: rgb(50, 140, 210);">University of Melbourne</a>, advised by 
  Dr. <a href="https://mingming-gong.github.io/index.html" target="_blank" style="text-decoration: none; color: rgb(50, 140, 210);">Mingming Gong</a>, co-advised by
  Dr. <a href="https://sites.google.com/view/liuhua-peng/home" target="_blank" style="text-decoration: none; color: rgb(50, 140, 210);">Liuhua Peng</a>, and 
  Dr. <a href="https://blogs.unimelb.edu.au/tingjinchu/" target="_blank" style="text-decoration: none; color: rgb(50, 140, 210);">Tingjin Chu</a>. 
  I am a member of the 
  <a href="https://mingming-gong.github.io/group.html" target="_blank" style="text-decoration: none; color: rgb(50, 140, 210);">
    Machine Learning and Reasoning (MLR)
  </a> Group.
</p>
<p>
  I interned at 
  <a href="https://research.snap.com/team/creative-vision.html" target="_blank" style="text-decoration: none; color: rgb(50, 140, 210);">Snap Research Creative Vision</a>, 
  working on efficient text-to-image generative models with 
  Dr. <a href="https://xuyanwu.github.io/" target="_blank" style="text-decoration: none; color: rgb(50, 140, 210);">Yanwu Xu</a>, 
  Dr. <a href="https://anilkagak2.github.io/" target="_blank" style="text-decoration: none; color: rgb(50, 140, 210);">Anil Kag</a>, and 
  Dr. <a href="https://alanspike.github.io/" target="_blank" style="text-decoration: none; color: rgb(50, 140, 210);">Jian Ren</a>.
  <!-- I received my Master degree from the 
  <a href="https://www.unimelb.edu.au/" target="_blank">University of Melbourne</a> and bachelor degree from 
  <a href="https://english.dhu.edu.cn/" target="_blank">Donghua University</a>. -->
</p>
<p>My research interests lie in generative AI and its applications to various computer vision tasks, with a focus on:</p>
<ul>
  <li>Large-scale Multimodal Generative Models</li>
  <li>Efficient Gen AI</li>
  <li>3D Reconstruction and Generation</li>
</ul>

<p>
  <span style="color: rgb(210, 110, 50); font-weight: bold;">
    I am seeking industrial positions starting Fall 2025 / Sprint 2026.
  </span><br>
  Feel free to reach out via email (<em>timmy11hu AT gmail.com</em>) if there are opportunities aligned with my expertise.
</p>

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %} -->

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_updates | default: "Recent Updates" }}</h3>

<ul>
  <li><strong>12/2024:</strong> We release of SnapGen Paper on Arxiv, first image generation model (379M) that can synthesize high-resolution images (1024x1024) on mobile devices in 1.4s, and achieve 0.66 on GenEval metric.</li>
  <li><strong>09/2024:</strong> Congrats to our 3D editting paper was accepted to NeurIPS 2024.</li>
  <li><strong>08/2024:</strong> I joined Snap Inc. as an reseach Intern.</li>
</ul> -->

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
